<div>
    <div class="border mb-2 rounded border-secondary" id="media">
    <div class="media m-2" >
        <img class="align-self-start m-4 rounded" src="{% get_static_prefix %}{{n.icon}}" alt="image" height="60" width="60">
        <div class="media-body" id="media-body">
          <div class="img">
          <h6 class="mt-0" id="title"><a href="#" target=_blank  id="title_news">Название новости</a></h6>
          </div>
          <details>
                <summary class="mb-2" id="details">Подробнее</summary>
                <p id="description"><h8>Описание</h8></p>
            </details>
          <p><h8><a class="#" href="#" id="category_news">Категория</a></h8></p>
         <p class="mb-4 text-muted" id="date_time">время публикации</p>
        </div>
      </div>
    </div>
  </div>
