    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat:700|Montserrat|Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/soroka.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rumagpie.ru - Лента новостей России и мира</title>
    <meta name="description" content="Новости, лента новостей, новости России и Мира. Семь дней в неделю, 24 часа в сутки."/>
    <meta name="keywords" content="Новости, лента новостей, новости России и Мира. Семь дней в неделю, 24 часа в сутки."/>

